<div class="container">
    <h2 class="page-title">{{ title }}</h2>
    <form class="form-group" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div class="form-control">
            <label for="name">Name</label>
            <input
                id="name"
                formControlName="name"
                type="text"
                class="form-control"
                placeholder="Enter name"
            />
        </div>

        <div class="form-control">
            <label for="email">Email </label>
            <input
                id="email"
                formControlName="email"
                [readonly]="isEditMode"
                type="email"
                class="form-control"
                placeholder="Enter email"
            />
        </div>

        <div class="form-control">
            <label for="companyName">Company Name</label>
            <input
                id="companyName"
                formControlName="companyName"
                type="text"
                class="form-control"
                placeholder="Enter company name"
            />
        </div>

        <div class="form-control">
            <label for="contact">Contact</label>
            <input
                id="contact"
                formControlName="contact"
                type="text"
                class="form-control"
                placeholder="Enter contact number"
            />
        </div>

        <div class="form-control">
            <label for="designation">Designation</label>
            <select
                id="designation"
                formControlName="designation"
                class="form-control"
            >
                <option
                    *ngFor="let designation of designations"
                    [value]="designation"
                >
                    {{ designation }}
                </option>
            </select>
        </div>

        <div class="form-control">
            <label for="designation">Avatar</label>
            <div class="avatar-button">
                <input
                    id="male"
                    name="avatar"
                    formControlName="avatar"
                    type="radio"
                    class="form-control"
                    value="male"
                />
                <label class="avatar-images" for="designation"
                    ><img src="assets/avatar/male.jpg" alt="Male avatar" />
                </label>
            </div>
            <div class="avatar-button">
                <input
                    id="female"
                    name="avatar"
                    formControlName="avatar"
                    type="radio"
                    class="form-control"
                    value="female"
                />
                <label class="avatar-images" for="designation"
                    ><img src="assets/avatar/female.jpg" alt="Female avatar" />
                </label>
            </div>
        </div>

        <button
            type="submit"
            [disabled]="employeeForm.invalid"
            class="btn btn-primary"
        >
            Submit
        </button>
    </form>

    <div class="notification" *ngIf="response?.message">
        <p [class]="response.status">{{ response.message }}</p>
    </div>
</div>
